<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="30005">
    <setting id="qualityPref" type="enum" label="30010" values="sd|hd|fhd" default="1" />
  </category>
  <category label="30006">
    <setting id="VideoColumn" type="labelenum" label="30004" values="2|3|4" default="2"/>
    <setting id="useProxy" type="bool" label="30008" default="false" />
    <setting id="proxyServer" type="text" label="30009" default="" visible="eq(-1,true)" />
  </category>
</settings>
