<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <setting id="id" type="text" label="로그인 아이디" default=""/>
  <setting id="pass" type="text" option="hidden" label="패스워드" default=""/>
  <setting id="server1" type="enum" label="서버1 선택" values="일반|일반(미러)|저화질|저화질(미러)|고화질|고화질(미러)" default="0"/>
  <setting id="server2" type="enum" label="서버2 선택" values="일반|일반(미러)|저화질|저화질(미러)|고화질|고화질(미러)" default="2"/>
</settings>
