<window>
	<id>4</id>
	<defaultcontrol always="true">300</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>

<control>
		<description>Panel Image</description>
		<type>image</type>
		<posx>0</posx>
		<posy>0</posy>
		<width>720</width>
		<height>576</height>
		<texture>background2.png</texture>
		<visible>!Skin.HasSetting(Background)</visible>
		</control>




<control type="multiimage">
		<posx>0</posx>
		<posy>0</posy>
		<width>720</width>
		<height>576</height>
		<imagepath>Menus</imagepath>
		<info>Skin.String(CustomMenu)</info>
		<timeperimage>5000</timeperimage>
		<fadetime>2000</fadetime>
        <randomize>true</randomize>
		<visible>!Skin.HasSetting(CustomMenu)</visible>
		<visible>Skin.HasSetting(Background)</visible>
		<animation effect="fade" time="200">WindowOpen</animation>
        <animation effect="fade" time="300">WindowClose</animation>
        <animation effect="fade" time="200">Visible</animation>
        <animation effect="fade" delay = "200" time="800">Hidden</animation>
		</control>




		<control type="multiimage">
		<posx>0</posx>
		<posy>0</posy>
		<width>720</width>
		<height>576</height>
		<imagepath>-</imagepath>
		<info>Skin.String(CustomMenuFolder)</info>
		<timeperimage>5000</timeperimage>
		<fadetime>2000</fadetime>
        <randomize>true</randomize>
		<visible>!Skin.HasSetting(CustomMenuFolder)</visible>
		<visible>Skin.HasSetting(Background)</visible>
		<animation effect="fade" time="200">WindowOpen</animation>
        <animation effect="fade" time="300">WindowClose</animation>
        <animation effect="fade" time="200">Visible</animation>
        <animation effect="fade" delay = "200" time="800">Hidden</animation>
		</control>

<control>
		<description>Background</description>
		<type>image</type>
		<posx>0</posx>
		<posy>0</posy>
		<width>720</width>
		<height>576</height>
		<texture>Back-Row.png</texture>
		<animation effect="fade" time="200">WindowOpen</animation>
	    <animation effect="fade" time="200">WindowClose</animation>
		<visible>!Skin.HasSetting(Background)</visible>
        </control>

<control>
		<description>Background</description>
		<type>image</type>
		<posx>0</posx>
		<posy>546</posy>
		<width>720</width>
		<height>30</height>
		<texture>Black.png</texture>
		<animation effect="fade" time="200">WindowOpen</animation>
	    <animation effect="fade" time="200">WindowClose</animation>
		</control>

<control>
<description>Panel Image</description>
<type>image</type>
<posx>0</posx>
<posy>0</posy>
<width>720</width>
<height>576</height>
<texture>dark mask.png</texture>
<visible>!Skin.HasSetting(Background)</visible>
</control>
<control>
<description>Panel Image</description>
<type>image</type>
<posx>0</posx>
<posy>0</posy>
<width>720</width>
<height>576</height>
<texture>dark mask.png</texture>
<visible>!Skin.HasSetting(Background)</visible>
</control>


<control type="group">

<animation effect="fade" time="10">Windowclose</animation>


<control type="wraplist" id="300">
<posx>0</posx>
<posy>165</posy>
<height>500</height>
<width>720</width>
<onup>157</onup>
<ondown>161</ondown>
<onleft>300</onleft>
<onright>300</onright>
<viewtype>list</viewtype>
<orientation>horizontal</orientation>
<focusposition>2</focusposition>
<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
<scrolltime>200</scrolltime>

<itemlayout width="144" height="600">

<control type="image">
<posx>0</posx>
<posy>20</posy>
<width>144</width>
<height>208</height>
<texture>3.png</texture>
<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
<animation effect="fade" time="10">Windowclose</animation>
</control>

<control type="image">
<posx>0</posx>
<posy>20</posy>
<width>144</width>
<height>208</height>
<texture>1.png</texture>
<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
<animation effect="fade" time="10">Windowclose</animation>
</control>

<control type="image">
<posx>0</posx>
<posy>170</posy>
<width>144</width>
<height>28</height>
<texture>homebutton-horizontal-nofocus.png</texture>
<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
<animation effect="fade" time="10">Windowclose</animation>
</control>		


<control type="label">
<posx>72</posx>
<posy>156</posy>
<width>144</width>
<height>54</height>
<label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
<align>center</align>
<aligny>center</aligny>
<font>Heading-M</font>
<textcolor>99ffffff</textcolor>
</control>

<control type="image">
<posx>5</posx>
<posy>55</posy>
<width>134</width>
<height>117</height>
<texture diffuse="Mask.png"></texture>
<info>ListItem.actualIcon</info>
<aspectratio>stretch</aspectratio>
<colordiffuse>99FFFFFF</colordiffuse>
<animation effect="fade" time="10">Windowclose</animation>
</control>




</itemlayout>

<focusedlayout width="144" height="600">

<control type="image">
<posx>0</posx>
<posy>20</posy>
<width>144</width>
<height>208</height>
<texture>3.png</texture>
<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
<animation effect="fade" time="10">Windowclose</animation>
</control>

<control type="image">
<posx>0</posx>
<posy>20</posy>
<width>144</width>
<height>208</height>
<texture>2.png</texture>
<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
<animation effect="fade" time="10">Windowclose</animation>
</control>

<control type="image">
<posx>0</posx>
<posy>170</posy>
<width>139</width>
<height>28</height>
<texture>homebutton-horizontal-nofocus.png</texture>
<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
<animation effect="fade" time="10">Windowclose</animation>
</control>		


<control type="label">
<posx>72</posx>
<posy>156</posy>
<width>144</width>
<height>54</height>
<label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
<align>center</align>
<aligny>center</aligny>
<font>Heading-M</font>
<shadowcolor>00000000</shadowcolor>
<animation effect="fade" time="10">Windowclose</animation>
<textcolor>white</textcolor>
</control>

<control type="image">
<posx>5</posx>
<posy>55</posy>
<width>134</width>
<height>117</height>
<texture diffuse="Mask.png"></texture>
<info>ListItem.actualIcon</info>
<aspectratio>stretch</aspectratio>
<animation effect="fade" time="10">Windowclose</animation>
</control>

<control type="label">
<posx>72</posx>
<posy>370</posy>
<width>544</width>
<height>54</height>
<label>$INFO[ListItem.label2]</label>
<align>center</align>
<aligny>center</aligny>
<font>Heading-M</font>
<textcolor>ffffffff</textcolor>
<visible>System.IdleTime(1)</visible>
</control>


</focusedlayout>


<content>
<item id="1">
<label>482</label>
<label2>31034</label2>
<icon>settings-AboutXBMC-focus.png</icon>
<thumb>settings-AboutXBMC-focus.png</thumb>
<onclick>XBMC.Credits()</onclick>
<visible>system.platform.xbox</visible>
</item>


<item id="2">
<include>20125</include>
<label2>31029</label2>
<icon>settings-more-focus.png</icon>
<thumb>settings-more-focus.png</thumb>
<onclick>XBMC.ActivateWindow(56)</onclick>
</item>

<item id="3">
<label>480</label>
<label2>31023</label2>
<icon>settings-appearance-focus.png</icon>
<thumb>settings-appearance-focus.png</thumb>
<onclick>XBMC.ActivateWindow(19)</onclick>
</item>

<item id="4">
<label>3</label>
<label2>31024</label2>
<icon>settings-videos-focus.png</icon>
<thumb>settings-videos-focus.png</thumb>
<onclick>XBMC.ActivateWindow(17)</onclick>
</item>


<item id="5">

<label>2</label>
<label2>31025</label2>
<icon>settings-music-focus.png</icon>
<thumb>settings-music-focus.png</thumb>
<onclick>XBMC.ActivateWindow(15)</onclick>
</item>

<item id="6">
<label>1</label>
<label2>31026</label2>
<icon>settings-pictures-focus.png</icon>
<thumb>settings-pictures-focus.png</thumb>
<onclick>XBMC.ActivateWindow(12)</onclick>
</item>

<item id="7">
<label>0</label>
<label2>31027</label2>
<icon>settings-programs-focus.png</icon>
<thumb>settings-programs-focus.png</thumb>
<onclick>XBMC.ActivateWindow(13)</onclick>
</item>
		 
<item id="8">
<label>8</label>
<label2>31030</label2>
<icon>settings-weather-focus.png</icon>
<thumb>settings-weather-focus.png</thumb>
<onclick>XBMC.ActivateWindow(14)</onclick>
</item>	

<item id="9">
<label>705</label>
<label2>31031</label2>
<icon>settings-network-focus.png</icon>
<thumb>settings-network-focus.png</thumb>
<onclick>XBMC.ActivateWindow(18)</onclick>
</item>		

<item id="10">
<label>13000</label>
<label2>31032</label2>
<icon>settings-system-focus.png</icon>
<thumb>settings-system-focus.png</thumb>
<onclick>XBMC.ActivateWindow(16)</onclick>
</item>	

<item id="11">
<label>13200</label>
<label2>31033</label2>
<icon>settings-profile-focus.png</icon>
<thumb>settings-profile-focus.png</thumb>
<onclick>XBMC.ActivateWindow(34)</onclick>
</item>	



</content>


</control>

</control>


<include>Music-Info</include>

<include>Time</include>

	</controls>
</window>