<!-- Aeon MQ 4 -->

<window id="4">
  <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>no</allowoverlay>
    <onload condition="!Skin.HasSetting(welcomedone)">Skin.SetString(colortexture,digital)</onload>
    <onload condition="!Skin.HasSetting(welcomedone)">Skin.SetString(colorheader,orange)</onload>
  <controls>
  <control type="image">
    <include>AnimatedBG</include>
    <texture background="true">$VAR[value_mainmenubg_settings]</texture>
  </control>
    <include>LiveBG</include>
  <control type="group">
    <include>Animation_OpenCloseWindow</include>
  <control type="image">
    <posx>23</posx>
    <posy>23</posy>
    <width>1233</width>
    <height>673</height>
    <texture background="true">settings_panelback.png</texture>
  </control>
  <control type="image">
    <posx>234</posx>
    <posy>41</posy>
    <width>1035</width>
    <height>637</height>
    <texture background="true">settings_frame_bottom.png</texture>
    <visible>![Control.HasFocus(9000) + Container(9000).HasFocus(104) | ControlGroup(21).HasFocus]</visible>
	</control>
  <control type="image">
  	<height>471.5</height>
		<width>841.5</width>
  	<posx>332</posx>
		<posy>57</posy>
		<timeperimage>5000</timeperimage>
		<randomize>false</randomize>
		<aspectratio>stretch</aspectratio>
		<fadetime>FanartCrossFadeTime</fadetime>
    <texture background="true">$VAR[value_virtualbg]</texture>
    <visible>![Control.HasFocus(9000) + Container(9000).HasFocus(104)]</visible>
  </control>
  <control type="group">
    <include condition="!Skin.HasSetting(settingsfixedlist)">SettingsWrapList</include>
    <include condition="Skin.HasSetting(settingsfixedlist)">SettingsFixedList</include>
  </control>

  <!-- Labels Section -->
  <control type="group">
    <posx>6</posx>
    <posy>0</posy>
  <control type="label">
  	<height>50</height>
		<width>800</width>
		<posx>350</posx>
		<posy>550</posy>
		<textcolor>d0f5f5f5</textcolor>
		<font>Font_SettingsMainLabelBig</font>
    <label>$VAR[value_settingslabel]</label>
  </control>
  <control type="label">
    <height>50</height>
		<width>800</width>
		<posx>350</posx>
		<posy>598</posy>
		<textcolor>d0f5f5f5</textcolor>
		<font>Font_SettingsMainLabelSmall</font>
    <label>$VAR[value_settingssublabel]</label>
  </control>
  </control>
	<control type="image">
    <description>front pane for Settings panel</description>
    <posx>42</posx>
    <posy>28</posy>
    <width>1196</width>
    <height>651</height>
    <texture background="true">settings_panelfront.png</texture>
	</control>
	<control type="image">
    <description>top pane for Settings panel</description>
    <posx>330</posx>
    <posy>43</posy>
    <width>845</width>
    <height>634</height>
    <texture background="true">settings_frame_top.png</texture>
    <visible>!Container(9000).HasFocus(104)</visible>
	</control>
	
  <!-- Skin options -->
  <control type="grouplist" id="21">
    <visible>Container(9000).HasFocus(104)</visible>
    <include>DefaultControlDimensions</include>
    <pagecontrol>81</pagecontrol>
    <onup>21</onup>
    <ondown>21</ondown>
    <onleft>9000</onleft>
    <onright>81</onright>
    <visible>!ControlGroup(888).HasFocus</visible>
  <control type="radiobutton" id="1012">
    <label>31601</label>
    <onclick>Skin.ToggleSetting(kiosk)</onclick>
    <onclick>Skin.Reset(kiosksmart)</onclick>
    <onclick>Skin.Reset(kioskcode)</onclick>
    <selected>Skin.HasSetting(kiosk)</selected>
  </control>
  <control type="radiobutton" id="1013">
    <label>31604</label>
    <onclick>Skin.ToggleSetting(kiosksmart)</onclick>
    <onclick>Skin.Reset(kiosk)</onclick>
    <onclick>Skin.Reset(kioskcode)</onclick>
    <selected>Skin.HasSetting(kiosksmart)</selected>
  </control>
  <control type="radiobutton" id="1014">
    <label>31603</label>
    <onclick>Skin.ToggleSetting(kioskcode)</onclick>
    <selected>Skin.HasSetting(kioskcode)</selected>
    <enable>Skin.HasSetting(kiosksmart)</enable>
  </control>
  <control type="radiobutton" id="1015">
    <label>31602</label>
    <onclick>Skin.ToggleSetting(kioskininfo)</onclick>
    <selected>Skin.HasSetting(kioskininfo)</selected>
  </control>
  <control type="radiobutton" id="1016">
    <label>31531</label>
    <onclick>Skin.ToggleSetting(startplay)</onclick>
    <selected>Skin.HasSetting(startplay)</selected>
  </control>
  <control type="button" id="1017">
    <label>31532</label>
    <label2>$INFO[Skin.String(startuplocation)]</label2>
    <onclick>Skin.SetFile(startuplocation,.m3u,Q:\UserData\playlists\music\)</onclick>
  </control>
  <control type="radiobutton" id="1018">
    <label>31959</label>
    <onclick>Skin.ToggleSetting(livebg)</onclick>
    <selected>Skin.HasSetting(livebg)</selected>
  </control>
  <control type="radiobutton" id="1019">
    <label>31608</label>
    <onclick>Skin.ToggleSetting(pvrmode)</onclick>
    <selected>Skin.HasSetting(pvrmode)</selected>
  </control>
  <control type="radiobutton" id="1020">
    <label>31605</label>
    <onclick>Skin.ToggleSetting(popupvoxcommando)</onclick>
    <onclick>ReloadSkin</onclick>
    <selected>Skin.HasSetting(popupvoxcommando)</selected>
  </control>
  <control type="radiobutton" id="1021">
    <label>31235</label>
    <onclick>Skin.ToggleSetting(settingsfixedlist)</onclick>
    <onclick>ReplaceWindow(4)</onclick>
    <selected>Skin.HasSetting(settingsfixedlist)</selected>
  </control>
  <control type="button" id="1022">
    <label>31421</label>
    <onclick>SetFocus(889)</onclick>
  </control>
  </control>
  <control type="scrollbar" id="81">
    <include>ScrollBar_Vertical</include>
    <posx>1195</posx>
    <posy>108</posy>
    <height>530</height>
    <onup>61</onup>
    <ondown>61</ondown>
    <onleft>21</onleft>
    <onright>21</onright>
    <visible>ControlGroup(21).HasFocus | Control.HasFocus(81)</visible>
	</control>
  
  <!-- Reset Skin Button -->
  <control type="group" id="888">
    <visible>ControlGroup(888).HasFocus</visible>
  <control type="button" id="889">
    <description>Reset Skin Button</description>
    <include>VirtualScreenDimensions</include>
    <onleft>9000</onleft>
    <onright>SetFocus(890)</onright>
    <texturefocus>-</texturefocus>
    <texturenofocus>-</texturenofocus>
  </control>
  <control type="button" id="890">
    <description>OK Button</description>
    <posx>643</posx>
    <posy>470</posy>
    <width>215</width>
    <height>30</height>
    <align>center</align>
    <aligny>center</aligny>
    <onup>9000</onup>
    <ondown>9000</ondown>
    <onleft>9000</onleft>
    <onright>9000</onright>
    <textcolor>50bec0c2</textcolor>
    <focusedcolor>FFC0C0C0</focusedcolor>
		<texturefocus>end_button.png</texturefocus>
		<texturenofocus>end_button.png</texturenofocus>
		<pulseonselect>true</pulseonselect>
    <label>186</label>
    <onclick>SetFocus(891)</onclick>
    <include>Animation_CommonFade</include>
    <visible allowhiddenfocus="true">Control.HasFocus(890)</visible>
  </control>
  <control type="button" id="891">
    <description>Black Screen</description>
    <include>FullScreenDimensions</include>
    <onclick>-</onclick>
    <onfocus>Skin.ResetSettings</onfocus>
    <onfocus>ReplaceWindow(627)</onfocus>
    <texturefocus>common_black.png</texturefocus>
    <texturenofocus>-</texturenofocus>
  </control>
  </control>
  </control>
  <include>BGBlack</include>
  </controls>
  </window>