<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="지역설정">
		<setting id="Location1" label="지역설정1" type="action" action="RunScript($ID,Location1)" default=""/>
		<setting id="Location2" label="지역설정2" type="action" action="RunScript($ID,Location2)" enable="!eq( -1,)" default=""/>
		<setting id="Location3" label="지역설정3" type="action" action="RunScript($ID,Location3)" enable="!eq( -1,)" default=""/>
		<setting id="Location1id" type="text" visible="false" default=""/>
		<setting id="Location2id" type="text" visible="false" default=""/>
		<setting id="Location3id" type="text" visible="false" default=""/>
	</category>
</settings>
